<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.tournam.schedule">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tournamco_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tournamco_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Schedule"
        android:name=".MainApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:exported="true" />
        <activity
            android:name=".DiscoveryActivity"
            android:exported="true" />
        <activity
            android:name=".ManageTeamActivity"
            android:exported="true" />
        <activity
            android:name=".CreateTournamentActivity"
            android:exported="true" />
        <activity
            android:name=".TournamentActivity"
            android:exported="true" />
        <activity
            android:name=".DisputesActivity"
            android:exported="true" />
<!--        <activity-->
<!--            android:name=".Login"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      <activity
           android:name=".Register"
            android:exported="true">
            <intent-filter>-->
               <action android:name="android.intent.action.MAIN" />-->

              <category android:name="android.intent.category.LAUNCHER" />-->
           </intent-filter>
       </activity>

    </application>

</manifest>