<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.tournam.schedule">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tournamco_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tournamco_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Schedule"
        android:name=".MainApplication"
        android:usesCleartextTraffic="true">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:exported="true" />
        <activity
            android:name=".DiscoveryActivity"
            android:exported="true" />
        <activity
            android:name=".ManageTeamActivity"
            android:exported="true" />
        <activity
            android:name=".CreateTournamentActivity"
            android:exported="true" />
        <activity
            android:name=".TournamentActivity"
            android:exported="true" />
        <activity
            android:name=".JoinTournamentActivity"
            android:exported="true" />
        <activity
            android:name=".DisputesActivity"
            android:exported="true" />
        <activity
            android:name=".MyProfileActivity"
            android:exported="true" />
        <activity
            android:name=".CreateTeamActivity"
            android:exported="true" />
        <activity
            android:name=".OurTeamActivity"
            android:exported="true" />
        <activity
            android:name=".TournamentPageActivity"
            android:exported="true" />
        <activity
            android:name=".StageActivity"
            android:exported="true" />
        <activity
            android:name=".MatchDetailActivity"
            android:exported="true" />
        <activity
            android:name=".MatchProofActivity"
            android:exported="true" />
        <activity
            android:name=".QRGenActivity"
            android:exported="true" />
        <activity
            android:name=".MapSelectActivity"
            android:exported="true" />

        <activity
            android:name=".LoginActivity"
            android:exported="true"/>
        <activity
            android:name=".RegisterActivity"
            android:exported="true"/>
    </application>

</manifest>